<!DOCTYPE html>
<html>
<head th:replace="~{plantillas/base :: head}">
</head>
<body>
    <nav th:replace="~{plantillas/base:: menu}"></nav>
    <div class="row row-cols-1 row-cols-md-4 g-4 m-3" href="categories.html">
        <div th:each="categorie : ${categories}" class="col">
            <div  class="card">
                <img class="card-img-top p-5" th:src="@{${'/images/' + categorie.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${categorie.name}">Card title that wraps to a new line</h5>
                    <a th:href="@{${'/categorias/' + categorie.id}}" class="btn btn-primary stretched-link">Mostrar</a>
                </div>
            </div>
        </div>
    </div>


    <ul>
       <li th:each="product : ${products}" th:text="|${product.brand} - ${product.name}|">Prueba</li> 
    </ul>
</body>
</html>
